global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  #log loghost    local0 info
  maxconn 4096
  #debug
  #quiet
  #nbproc 4
  user haproxy
  group haproxy

defaults
  log     global
  mode    <%= node['haproxy']['default_mode'] %>
  option  dontlognull
  retries 3
  option redispatch
  timeout connect <%= node['haproxy']['timeout_connect'] %>
  timeout client <%= node['haproxy']['timeout_client'] %>
  timeout server <%= node['haproxy']['timeout_server'] %>
  balance  <%= node['haproxy']['balance_algorithm'] %>

<% if node['haproxy']['enable_admin'] -%>
listen admin <%= node['haproxy']['admin']['address_bind'] %>:<%= node['haproxy']['admin']['port'] %>
  mode http
  stats enable
  stats uri /
  stats realm Strictly\ Private
  stats auth <%= node['haproxy']['admin']['user'] %>:<%= node['haproxy']['admin']['pass'] %>
<% end -%>

# Set up application listeners here.

